@model ML.Hospital
@{
    ViewData["Title"] = "GetALL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hospitales</h1>

<div class="container-fluid">
    <div>
        <a href="@Url.Action("Form", "Hospital")" class="btn btn-success"> Agregar</a>

    </div>

    <table class="table text-center">
         <thead>
            <tr>
                <th>Editar</th>
                <th>IdHospital</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Año de Construccion</th>
                <th>Capacidad</th>
                <th>Especialidad</th>
                <th>Eliminar</th>
            </tr>
         </thead>
         <tbody>
            @foreach (ML.Hospital hospital in Model.Hospitales)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Form", "Hospital", new{idHospital = hospital.IdHospital})" class="btn btn-outline-warning"> Editar</a>
                    </td>
                   
                    <td>@hospital.IdHospital</td>
                    <td>@hospital.Nombre</td>
                    <td>@hospital.Direccion</td>
                    <td>@hospital.AñoCostruccion</td>
                    <td>@hospital.Capacidad</td>
                    <td>@hospital.Especialidad.Nombre</td>

                    <td>
                        <a href="@Url.Action("Delete", "Hospital" , new{idHospital = hospital.IdHospital})" class="btn btn-outline-danger"> Eliminar</a>
                    </td>
                </tr>
            }
         </tbody>
        
     </table>

</div>